# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
/*.zip
coverage
*.local
auto-imports.d.ts
components.d.ts
.vite-ssg-temp
vue-global-types.d.ts

/cypress/videos/
/cypress/screenshots/


# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

